body {
    margin: 0;
    overflow: hidden;
  }
  
  #container {
    width: 100vw;
    height: 100vh;
  }
  
  a-plane {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.2em;
    border-radius: 0.2em;
    overflow-y: scroll;
    font-size: 20px;
  }
  